.Rproj.user
.Rhistory
.RData
.Ruserdata
**/*.o
**/*.so
src/*.dll
config.log
config.status
src/Makevars
src/Rserve
src/Rserve.*
src/client/cxx/Makefile
src/config.h
src/forward
src/proxy/base64.c
src/proxy/md5.c
src/proxy/md5.h
src/proxy/sha1.h
src/proxy/sha1.c
src/proxy/ulog.c
src/proxy/ulog.h
src/proxy/forward